<!-- Define the Summary tab and the information and graphs in it-->
<div class="chart_box">
    <!-- CNA  -->
    <div class="row chart_box_header">
        <div class="col">
            <h2>CNA scores distribution</h2>
        </div>
        <div class="col-auto">
            <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-html="true"
               title="Additional information"
               data-content="<ul><li>Copy Number Alterations <a href=glossary.html#cna>(CNA)</a> <ul><li>Scores: <a href=glossary.html#bcs>BCS</a>, <a href=glossary.html#fcs>FCS</a></li></ul> </li></ul>">
                <span><i class="far fa-question-circle fa-2x"></i></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div id ="bcs_dist"></div>
        </div>
        <div class="col-6">
            <div id ="fcs_dist"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6><b>Spearman test between BCS and FCS:</b></h6>
            <p class="spearman" id="pvalue_bcs_fcs"></p>
            <p class="spearman" id="cor_bcs_fcs"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- Number of mutations  -->
            <div class="row chart_box_header mt-4">
                <div class="col">
                    <h2>Number of mutations distribution</h2>
                </div>
                <div class="col-auto">
                    <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-html="true"
                       title="Additional information"
                       data-content="<ul><li><a href=glossary.html#tmb>Number of mutations</a></li></ul>">
                        <span><i class="far fa-question-circle fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div id ="tmb_dist"></div>
            </div>
        </div>
        <!--
        <div class="col-6">
            Ploidy  
            <div class="row chart_box_header mt-4">
                <div class="col">
                    <h2>Ploidy distribution</h2>
                </div>
                <div class="col-auto">
                    <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-html="true"
                       title="Additional information"
                       data-content="<ul><li><a href=glossary.html#ploidy>Ploidy</a></li></ul>">
                        <span><i class="far fa-question-circle fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div id ="ploidy_dist"></div>
            </div>
        </div>
        -->
    </div>
    <!-- SV  -->
    <div class="row chart_box_header">
        <div class="col">
            <h2>SV distribution and effects</h2>
        </div>
        <div class="col-auto">
            <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-html="true"
               title="Additional information"
               data-content="<ul><li>Structural variants <a href=glossary.html#sv>(SV)</a></li></ul>">
                <span><i class="far fa-question-circle fa-2x"></i></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div id ="sv_dist"></div>
        </div>
        <div class="col-6 d-inline">
            <div id ="sv_effect"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <!-- ESTIMATE  -->
            <div class="row chart_box_header mb-3">
                <div class="col">
                    <h2>ESTIMATE scores</h2>
                </div>
                <div class="col-auto">
                    <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-html="true"
                       title="Additional information"
                       data-content="<ul> <li>ESTIMATE scores <a href=glossary.html#estimate>(ESTIMATE)</a> <ul> <li>Scores: <a href=glossary.html#stromal>Stromal</a>, <a href=glossary.html#immune>Immune</a> </ul>">
                        <span><i class="far fa-question-circle fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div id ="estimate_scores"></div>
            </div>
        </div>
        <div class="col-6">
            <!-- IPS  -->
            <div class="row chart_box_header mb-3">
                <div class="col">
                    <h2>IPS classes</h2>
                </div>
                <div class="col-auto">
                    <a href="#" data-container="body" data-toggle="popover" data-placement="left" data-html="true"
                       title="Additional information"
                       data-content="<ul> <li>Immunophenoscore <a href=glossary.html#ips>(IPS)</a> <ul> <li>Classes: <a href=glossary.html#mhc>MHC</a>, <a href=glossary.html#ec>EC</a>, <a href=glossary.html#cp>CP</a>, <a href=glossary.html#sc>SC</a></li> </ul>">
                        <span><i class="far fa-question-circle fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div id ="ips_class"></div>
            </div>
        </div>
    </div>
</div>

<button onclick="topFunction()" class="btn-gotop" title="Go to top">
    <i class="fas fa-arrow-up"></i>
</button>